.noBorderRadius {
  border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
}
.content {
  padding: 20px 0;
}
.content-plain {
  padding: 0;
}
/* alert */
#alert {
  position: fixed;
  z-index: 100;
  left: 1%;
  right: 1%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.inline {
  display: inline-block;
}
.blur {
  filter: url('/svg/blur.svg#blur');
  /* FireFox, Chrome, Opera */
  -webkit-filter: blur(8px);
  /* Chrome, Opera */
  -moz-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
  /* IE6~IE9 */
}
.flex {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.flex .flex-1 {
  flex: 1;
}
.flex .flex-2 {
  flex: 2;
}
.flex .flex-3 {
  flex: 3;
}
.flex .flex-4 {
  flex: 4;
}
.pagination-content {
  overflow: hidden;
}
.list-group .active a {
  color: white;
}
.list-group a {
  color: #333333;
}
.banner {
  overflow: hidden;
  border: 1px solid #f5f6f8;
  border-top: 1px solid #898989;
}
.none {
  display: none;
}
/* footer */
#footer .navbar {
  margin-bottom: 0;
}
#footer .footer-container {
  padding-top: 30px;
  padding-bottom: 20px;
}
#footer .footer-container .item {
  color: white;
  font-size: 10px;
}
#footer .bottom-links {
  background-color: #100718;
  text-align: center;
  padding-top: 5px;
}
#footer .bottom-links .links a {
  color: #f0e6f0;
  margin: 0 10px;
  font-size: 10px;
  text-decoration: none;
}
