.noBorderRadius {
  border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
}
.content {
  padding: 20px 0;
}
.content-plain {
  padding: 0;
}
/* alert */
#alert {
  position: fixed;
  z-index: 100;
  left: 1%;
  right: 1%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.inline {
  display: inline-block;
}
.blur {
  filter: url('/svg/blur.svg#blur');
  /* FireFox, Chrome, Opera */
  -webkit-filter: blur(8px);
  /* Chrome, Opera */
  -moz-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
  /* IE6~IE9 */
}
.flex {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.flex .flex-1 {
  flex: 1;
}
.flex .flex-2 {
  flex: 2;
}
.flex .flex-3 {
  flex: 3;
}
.flex .flex-4 {
  flex: 4;
}
.pagination-content {
  overflow: hidden;
}
.list-group .active a {
  color: white;
}
.list-group a {
  color: #333333;
}
.banner {
  overflow: hidden;
  border: 1px solid #f5f6f8;
  border-top: 1px solid #898989;
}
.none {
  display: none;
}
/* override */
body {
  margin: 0;
  padding: 0;
}
.navbar {
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
  margin-bottom: 0;
}
.navbar .navbar-nav > .active > a {
  background-color: #d1005d;
  color: #f0e6f0;
}
.navbar .navbar-nav > li > a {
  color: #f0e6f0;
}
.navbar .navbar-nav > li > a:hover {
  color: #ffffff;
}
.navbar-collapse {
  border-top: none;
}
.navbar-default {
  background-color: #21122f;
}
.navbar-default .navbar-brand {
  padding-top: 5px;
}
.list-group-item.active {
  background-color: #d1005d;
  border-color: #d1005d;
}
.list-group-item.active:hover {
  background-color: #d2116f;
  border-color: #d2116f;
}
.alert {
  margin-bottom: 0;
}
.datepicker {
  padding: 8px !important;
}
.i-checks {
  line-height: 25px;
}
.i-checks .icheckbox_square-green,
.i-checks .iradio_square-green {
  margin-left: 5px;
}
.fa {
  margin-right: 5px;
}
