.noBorderRadius {
  border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
}
.content {
  padding: 20px 0;
}
.content-plain {
  padding: 0;
}
/* alert */
#alert {
  position: fixed;
  z-index: 100;
  left: 1%;
  right: 1%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.inline {
  display: inline-block;
}
.blur {
  filter: url('/svg/blur.svg#blur');
  /* FireFox, Chrome, Opera */
  -webkit-filter: blur(8px);
  /* Chrome, Opera */
  -moz-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
  /* IE6~IE9 */
}
.flex {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.flex .flex-1 {
  flex: 1;
}
.flex .flex-2 {
  flex: 2;
}
.flex .flex-3 {
  flex: 3;
}
.flex .flex-4 {
  flex: 4;
}
.pagination-content {
  overflow: hidden;
}
.list-group .active a {
  color: white;
}
.list-group a {
  color: #333333;
}
.banner {
  overflow: hidden;
  border: 1px solid #f5f6f8;
  border-top: 1px solid #898989;
}
.none {
  display: none;
}
#publish-content .banner {
  overflow: hidden;
  height: 300px;
  border: none !important;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  color: #ffffff;
  position: relative;
}
#publish-content .banner .background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#publish-content .banner .banner-content {
  position: absolute;
  z-index: 100;
  left: 1%;
  right: 1%;
}
#publish-content .banner .banner-content .banner-title {
  font-size: 30px;
  margin: 20px;
}
#publish-content .banner .banner-content .banner-describe {
  font-size: 16px;
  margin: 10px;
  margin-bottom: 50px;
}
#publish-content .banner .banner-content .banner-icons .name {
  margin-top: 10px;
}
#publish-content .banner-plain {
  margin-bottom: 0;
}
#publish-content .publish-content {
  padding: 30px 0;
}
#publish-content #publicity-publish {
  background-color: #fcfcfc;
}
#publish-content #publicity-publish .panel {
  background-color: #fcfcfc;
}
