.noBorderRadius {
  border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -webkit-border-radius: 0;
}
.content {
  padding: 20px 0;
}
.content-plain {
  padding: 0;
}
/* alert */
#alert {
  position: fixed;
  z-index: 100;
  left: 1%;
  right: 1%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.inline {
  display: inline-block;
}
.blur {
  filter: url('/svg/blur.svg#blur');
  /* FireFox, Chrome, Opera */
  -webkit-filter: blur(8px);
  /* Chrome, Opera */
  -moz-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
  /* IE6~IE9 */
}
.flex {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.flex .flex-1 {
  flex: 1;
}
.flex .flex-2 {
  flex: 2;
}
.flex .flex-3 {
  flex: 3;
}
.flex .flex-4 {
  flex: 4;
}
.pagination-content {
  overflow: hidden;
}
.list-group .active a {
  color: white;
}
.list-group a {
  color: #333333;
}
.banner {
  overflow: hidden;
  border: 1px solid #f5f6f8;
  border-top: 1px solid #898989;
}
.none {
  display: none;
}
#user-show {
  background-color: #f5f6f8;
}
#user-show .banner {
  height: 300px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  color: #ffffff;
  position: relative;
}
#user-show .banner .background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#user-show .banner .banner-content {
  position: absolute;
  z-index: 100;
  left: 1%;
  right: 1%;
}
#user-show .banner .banner-image img {
  width: 100px;
  height: 100px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
}
#user-show .banner .banner-name {
  font-size: 20px;
  margin: 10px 0;
}
#user-show .banner .banner-brief {
  font-size: 14px;
}
#user-show .banner .banner-buttons {
  margin: 20px 0;
}
#user-show .banner-plain {
  margin-bottom: 0;
}
#user-show .navbar {
  margin-bottom: 20px;
  background-color: #ffffff;
}
#user-show .navbar ul.nav {
  width: 100%;
}
#user-show .navbar ul.nav li {
  line-height: 50px;
  text-align: center;
}
#user-show .navbar ul.nav li a {
  color: #666666;
}
#user-show .navbar ul.nav li.active a,
#user-show .navbar ul.nav li:hover a {
  color: #ffffff;
  background-color: #d4ccb9;
}
#user-show #user-info .left,
#user-show #user-info .main,
#user-show #user-info .right {
  padding: 10px;
}
#user-show #user-info .main #info-panel .panel-heading {
  overflow: hidden;
  border-bottom: 1px solid #EEE;
  position: relative;
}
#user-show #user-info .main #info-panel .panel-heading .edit {
  position: absolute;
  right: 20px;
  top: 20px;
}
#user-show #user-info .main #info-panel .form-group > div {
  padding-top: 7px;
}
#user-show #user-info .main #info-panel .panel-body {
  padding-top: 0;
}
#user-show #user-info .main #info-panel .panel-body .info-block {
  padding: 20px;
  border-bottom: 1px solid #EEE;
}
#user-show #user-info .right-content {
  background-color: #ffffff;
  border: 1px solid #EEE;
}
#user-show #user-recruit .left,
#user-show #user-recruit .main {
  padding: 10px;
}
#user-show #user-recruit .main-content {
  background-color: #ffffff;
  border: 1px solid #EEE;
  padding: 20px;
}
#user-show #user-recruit .main-content .company-name {
  width: 100%;
}
#user-show #user-recruit .main-content .company-name img {
  width: 100%;
}
#user-show #user-recruit .main-content .item .item-content .thumb img {
  width: 100%;
  height: 150px;
}
#user-show #user-recruit .main-content .item .item-content .title {
  padding: 8px 0;
}
#user-show #user-recruit .main-content .item .item-content .title span {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}
#user-show #user-recruit .main-content .item .item-content .title span a {
  color: #333333;
}
#user-show #user-recruit .main-content .item .item-content .tags {
  padding: 5px 0;
}
#user-show #user-recruit .main-content .item .item-content .tags .tag {
  padding: 2px 5px;
  background-color: #d4ccb9;
  cursor: pointer;
}
#user-show #user-recruit .main-content .item .item-content .tags .tag a {
  color: #ffffff;
}
#user-show #user-recruit .main-content .item .item-content .tags .tag a:hover {
  color: #f0e6f0;
}
#user-show #user-recruit .main-content .item .item-content .brief {
  padding: 5px 0;
}
#user-show #user-recruit .main-content .item .item-info {
  overflow: hidden;
  padding: 3px 0;
  background-color: #f1f1f1;
  margin: 10px 0;
}
#user-show #user-recruit .main-content .item .item-info span {
  font-size: 12px;
  color: #666666;
  margin: 0 5px;
}
#user-show #user-recruit .main-content .item .item-info span i {
  margin: 0 4px;
}
#user-show #user-focus .main-content {
  background-color: white;
}
#user-show #user-focus .main-content .item {
  background-color: white;
}
#user-show #user-focus .main-content .item .thumb img {
  width: 100%;
}
#user-show #user-focus .main-content .item .item-content .name a {
  color: #666666;
}
#user-show #user-publish .panel {
  padding-top: 30px;
  margin-bottom: 40px;
}
#user-show #user-publish .panel .upload .uploadify-queue {
  width: 100%;
}
#user-show #user-publish .panel .upload .uploadify-queue .uploadify-queue-item {
  overflow: hidden;
}
#user-show #user-publish .panel .upload img.pre-view {
  width: 100%;
}
#user-show #user-publish .panel .upload .del-upload {
  margin-top: 15px;
}
#user-show #user-work .main {
  background-color: white;
}
#user-show #user-work .main .items .item .image img {
  width: 100%;
  height: 160px;
}
