@import "pm";

#banner-items {
    $height: 200px;
    .dd-placeholder {
        float: left;
        width: 50%;
    }
    .dd-item {
        float: left;
        width: 50%;
        .dd-handle {
            height: $height;
            .thumb {
                max-width: 90%;
                max-height: 90%;
            }
        }
    }
}

.filters {
    margin: 10px 0 30px 0;
    max-width: 600px;
    float: left;
    .filter {
        margin: 10px 0;
        line-height: 30px;
        a {
            color: #76838f;
            margin: 0 5px;
            &.active {
                background-color: #1ABC9C;
                color: #FFF;
                padding: 3px 6px;
                border-radius: 2px;
            }
        }

    }
}

.search {
    float: right;
    width: 300px;
    margin-top: 20px;
}

.sort-items {
    overflow: hidden;
    .sort-item {
        margin-right: 5px;
        float: left;
        display: block;
        padding: 3px 10px;
        line-height: 20px;
        text-decoration: none;
        color: #76838f;
        &:after {
            float: right;
            font-family: fontawesome;
            color: rgba(50, 50, 50, 0.5);
            margin-left: 10px;
        }
        &.sorting:after {
            content: "\f0dc";
        }
        &.sorting-asc:after {
            content: "\f0de";
        }
        &.sorting-desc:after {
            content: "\f0dd";
        }
    }
}
